.section-learn{
    background: var(--light-green);
}
.learn-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 80px 0 20px;
}